<div class="jumbotron">
  <div align="center">
    <h1>Contact Me</h1>
    <large>Email: </large> <small>Tknott95@hotmail.com</small>
    <br>
    <large>Phone: </large><small>(970)581-3161</small>

  </div>
</div>
