<div class="jumbotron">
  <div align="center">
    <h1>Contact Me</h1>
    <a href="mailto:tknott95@hotmail.com"><strong>Email Me</strong></a>
    <br>
    <large>Phone: </large><small>(970)581-3161</small>

  </div>
</div>
