<div class="jumbotron">
  <div align="center">
    <h1>Trevor Knott</h1>
    <small>Tknott95@hotmail.com</small>
    <br>
    <small>(970)581-3161</small>
  </div>

</div>
<div class="jumbotron">
  <div align="center">
    <h1>Languages</h1>
    <br>
    <large>C#</large>
    |
    <large>Ruby</large>
    |
    <large>Rails</large>
    |
    <large>HTML</large>
    |
    <large>CSS</large>
    |
    <large>SASS</large>
    |
    <large>Javascript</large>
    <br>

  </div>
</div>
<div class="jumbotron">
  <div align="center">
    <h1>My Profiles</h1>
    <br>
    <%= link_to 'Github', 'https://github.com/Tknott95' %>
    |
    <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/trevor-knott-32184269' %>
    <br>
    <%= link_to 'Blog', 'https://trevorknott.wordpress.com/' %>
    |
    <%= link_to 'Facebook', 'https://www.facebook.com/trevor.knott.5' %>

  </div>
</div>
<div class="jumbotron">
  <div align="center">
    <h1>My Resume</h1>
    <br>
    <a href="/skills.pdf">Download my Resume (.pdf) </a>

  </div>
</div>
