<div class="page-header">
<div class="jumbotron">
  <h2 style="color:black">Currently Known Computer Languages</h2>
  </div>
</div>

<div class="table-responsive" style="background:white">
  <table class="table table-striped table-bordered table-hover" align="center">
    <tbody align="center">
      <%= content_tag_for(:tr, @skills) do |skill| %>
            <td align ="center"><%= skill.skill %></td>
      <% end %>
    </tbody>
  </table>
</div>
