<div class="page-header">
  <h1 style="color:white">Current Known Computer Languages</h1>
</div>

<div class="table-responsive" style="background:white">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Languages</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @skills) do |skill| %>
            <td><%= skill.skill %></td>
      <% end %>
    </tbody>
  </table>
</div>
